<!DOCTYPE html>
<html>

<head>
  <title>Seja um Parceiro Card</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <header id="header" class="menu-container">
    <div class="logo-box">
      <img width="110px" height="30.13px" class="logo-nav"
        src="https://www.grupocard.com.br/image/logos/card/logo-card-laranja.webp" alt="Card">
    </div>
  </header>
  <main class="container">
    <section class="hero container">
      <p class="typing-effect">Aumente o fluxo do seu estabelecimento. <br />Seja um parceiro Card agora mesmo</p>
      <form id="form" action="#" method="post">
        <input type="email" placeholder="Email Address" name="email" id="email" required>
        <div>
          <input type="submit" id="submit" value="Subscribe">
        </div>
      </form>
    </section>
    <div class="hero-image">
      <img loading="lazy" class="img-fluid" src="https://www.grupocard.com.br/image/new-a-card/banner/figura.svg"
        alt="A Card Alcançando cada vez mais pessoas.">
    </div>

  </main>
  <section class="video-content">

    <div class="video-story">
      <h1 class="video-title">Veja como fluxo card muda a vida de parceiros</h1>
      <div class='embed-container'>
        <img onclick="scrollToVideo()" loading="lazy" width="600px" class="img-fluid-video cursor-pointer py-5 "
          src="https://www.grupocard.com.br/image/new-home/banners/video/thumb/fundo-video-prova-de-vida.webp"
          alt="video: A Card Alcançando cada vez mais pessoas.">
      </div>
    </div>
  </section>

  <section class="content">
    <div class="inner-content">
      <div class="inner-content-text content__TextLeft">
        <div class="inner-content-title">
          Aumente o fluxo de clientes assim como + de 125 mil parceiros card
        </div>

        <div class="inner-content-para">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue sem, porttitor eu suscipit et,
            aliquam ac mauris.
            Aenean non nibh quis eros iaculis eleifend sit amet porttitor mi. In finibus, ante non mattis lobortis,
            purus sapien lobortis
            sapien, non efficitur metus dolor dictum augue. Ut nec odio dapibus, efficitur dui ac, vestibulum felis.
            Duis finibus metus
            vulputate risus maximus viverra. Ut non finibus ante. Morbi at magna fermentum, dapibus velit a, lacinia
            velit. Nunc sed ligula
            luctus, vestibulum orci id, dapibus purus. Mauris vehicula sapien scelerisque nisl iaculis consectetur. In
            ac pellentesque justo,
            a posuere est. Fusce ullamcorper justo in eros luctus iaculis. Curabitur eu lorem sagittis, facilisis tellus
            eu, accumsan nulla.
            Quisque hendrerit, purus sed convallis tincidunt, mi risus dignissim neque,
            at ornare sapien enim quis nibh. Curabitur lacinia ex ut risus rutrum gravida. Maecenas cursus euismod nibh
            non ornare.</p>
        </div>
      </div>

      <div class="inner-image-container container__ImageRight">
        <div class="inner-content-image content__ImageRight">
          <img class="section-images" src="https://www.grupocard.com.br/image/new-produtos/ofereca/box-pagamentos.webp"
            style="object-position: 50% 50%;">
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe-container">
    <div class="hero-newsletter">
      <h2 class="text-bottom">Seja um parceiro Card agora mesmo</h2>
    </div>

    <div class="form-container">

      <form id="form" action="#" method="post">
        <input type="email" placeholder="Email Address" name="email" id="email" required>
        <div>
          <input type="submit" id="submit-rodape" value="Subscribe">
        </div>
      </form>
    </div>
  </section>
  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close-btn" id="close-btn">&times;</span>
      <!-- Imagem no Pop-up -->
      <img
        src="https://www.grupocard.com.br/image/card/blog-image/vendas-de-gift-card-movimentam-mais-de-r4-bilhoes-no-brasil.jpg"
        alt="Imagem de destaque" class="popup-image">

      <h2 class="popup-title">Seja um parceiro Card agora mesmo</h2>

      <form id="form" action="#" method="post">
        <input type="email" placeholder="Email Address" name="email" id="email-popup" required>
        <div>
          <input type="submit" id="submit-rodape" value="Subscribe">
        </div>
      </form>
    </div>
  </div>
</body>
</html>